__pycache__/Block.cpython-38.pyc
__pycache__/Game.cpython-38.pyc
__pycache__/Invader.cpython-38.pyc
__pycache__/Missile.cpython-38.pyc
__pycache__/Game.cpython-38.pyc
__pycache__/Player.cpython-38.pyc
